@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;

}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #222;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #222;
}

h3 {
    font-size: 1.rem;
    font-weight: 800;
    color: #222;
}

h4 {
    font-size: 1.1rem;
    font-weight: 800;
    font-size: 16px;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    color: #d8d8d8;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #465b52;
}

.section-p1 {
    padding: 40px 80px;
}

.container {
    max-width: 1330px;
}

hr {
    width: 30px;
    height: 2px;
    background-color: #933B1E;
}

.star i {
    font-size: 0.8rem;
    color: goldenrod;
}

.star {
    padding: 10px 0;
}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: aliceblue;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

#navbar li {
    list-style: none;
    padding: 3px 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #212120;
    transition: .5s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: #933B1E;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #933B1E;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.cart-bags {
    font-size: 34px;

}

#mobile {
    display: none;
    align-items: center;

}

#close {
    display: none;
}


@media (max-width:799px) {
    #header {
        padding: 13px 30px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 10px;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: aliceblue;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile a i {
        color: #000;
        font-size: 24px;
        padding-right: 10px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bg {
        display: none;
    }
}

/*

.navbar {
    background-color: #ffffff;
    height: 70px;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    top: 0;
    left: 0;
}

.navbar-light .navbar-nav .nav-link {
    padding: 11px 20px;
    color: #212120;
    transition: .5s ease-in-out;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
    color: #933B1E;

}

.navbar i {
    font-size: 1.2rem;
    padding: 4px 30px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;

}






#bar {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: #212120;
}

#bar:hover,
#bar.active {
    color: #ffffff;
}


@media only screen and (max-width: 991px) {

    body>nav>div>button:hover,
    body>nav>div>button:focus {
        background-color: white;
    }

    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar {
        background-color: yellow;
    }

    #navbarSupportedContent>ul {
        margin: 0rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        background-color: white;
        width: fit-content;

    }

    #navbarSupportedContent>ul>li:nth-child(n)>a {
        padding: 10px 20px;
    }
}
*/
.main {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;



}

.sect-1 {

    width: 50%;

}

.sect-2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
}

.sect-2 img {
    width: 60%;
    background-size: cover;

}

.sect-2 img:hover {
    transform: scale(1.1);
    transition: 1s ease-in;
    transition: 1s ease-out;

}

#hero p {
    padding: 25px 0;
}


#hero button {
    background-color: #212120;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
}

#hero button:hover {
    background-color: #933B1E;
    transition: .5s ease-in-out;
}








#feature {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    align-items: center;


}

#feature .fe-box {
    max-width: 100%;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}


#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #ffffff;
    background-color: #212120;
}


/* banner */

#banner {
    background-image: url(img/banner/pexels-cottonbro-6650001.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h4 {
    color: white;

}

#banner p {
    color: white;
    font-weight: 600;

}

#banner span {
    color: #933B1E;
}

#banner .form {
    display: flex;
    width: 40%;
    align-items: baseline;
    padding-left: 108px;

}

#banner input {
    outline: none;
    border: none;
    width: 90%;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: baseline;
}


#new {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}




#new .one img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new .one .details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;

}

#new .one:hover .details {

    background-color: rgb(0, 0, 0, 0.3);
}

#new .one .details h2 {
    color: white;
}

#new .one .details button {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}

#new .one .details button:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: end;
}

.product img {
    width: 100%;
}




/* mobile viw nav */
.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}


/* product */

.product {


    margin-bottom: 2rem;
}

.product img {
    transition: 0.3s all;

}

.product:hover img {

    opacity: 0.7;



}

.product .buy-button {
    background-color: #933B1E;
    max-width: max-content;
    border: none;
    color: white;
    padding: 15px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
    text-transform: uppercase;


}

.buy-button:hover {
    background-color: black;



}

footer {
    background-color: aliceblue;
}

footer h5 {
    color: #212120;
    font-weight: 700;
    font-size: 1.2rem;
}

footer h6 {
    color: #212120;
    font-weight: 500;
    font-size: medium;
}

footer li {
    padding-bottom: 4px;

}

footer li a {
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;
}

footer li a:hover {
    font-size: 0.8rem;
    color: #d8d8d8;
    text-decoration: none;
}

footer p {
    color: #999;
}

footer .icon i {
    color: #ffffff;
    width: 38px;
    height: 38px;
    background-color: #465b52;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .icon i:hover {
    color: #ffffff;
    width: 38px;
    height: 38px;
    background-color: #933B1E;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
    cursor: pointer;
}

footer .copyright {
    width: 100%;
    display: flex;
}



.newsletter_container {
    background-color: #212120;
    align-items: center;
    padding: 30px 15px;

    color: white;


    text-align: center;
}

.newsletter_title {
    padding: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;

}

.newsletter_discription {
    margin-bottom: 45px;
    color: white;

}

.newsletter_subscribe {
    display: flex;
    column-gap: .5rem;
    background-color: #212120;
    padding: .5rem;


}

.newsletter_input {
    outline: none;
    border: none;
    width: 90%;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: baseline;

}

.newsletter::placeholder {
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 156px;
    font-weight: bold;

}

.news-button {
    height: 50px;
    background-color: #933B1E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: baseline;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 0;
    text-transform: uppercase;
}

.news-button:hover {
    height: 50px;
    background-color: white;
    border: none;
    color: #933B1E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: baseline;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 0;
    text-transform: uppercase;
}



/* media query */

@media screen and (min-width: 1024px) {
    .newsletter_subscribe {
        width: 400px;
        display: inline-flex;
    }

    .newsletter_container {
        height: 265px;
    }

    .slowFade {
        width: 100%;
        display: flex;
        align-items: flex-start;
        background: #fff;
        height: 100vh;
        overflow: hidden;
        position: relative;
        border-radius: 6px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 821px) {
    .main {

        width: 100%;

        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;



    }

    .sect-1 {
        padding-top: 25px;
        text-align: center;
        width: 100%;

    }

    .sect-1 h1 {
        font-size: 2rem;
        font-weight: 700;
        color: #212120;
    }

    .sect-2 {
        display: flex;
        justify-content: center;

        width: 100%;

    }

    .sect-2 img {
        width: 50%;
        background-size: cover;
    }

    #hero p {
        padding: 20px 0;
    }

}



.slowFade {
    width: 80%;
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 80vh;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    margin-top: 80px;
}

.slowFade .slide img {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-size: cover;

    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5);
    -webkit-animation: slowFade 32s infinite;
    animation: slowFade 32s infinite;
}

.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}

.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
}

.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 24s;
    animation-delay: 24s;
}

@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }

    40% {
        opacity: 0;
    }
}

@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }

    40% {
        opacity: 0;
    }
}

.order .row {
    padding: 2rem;
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;

}

.order .row .image {
    flex: 1 1 30rem;
}

.order .row .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;

}


.order .row form {
    flex: 1 1 50rem;
    padding: 1rem;

}

.order .row form .inputbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.order .row form .inputbox input,
.order .row form textarea {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    width: 49%;
}

.order .row form textarea {
    width: 100%;
    resize: none;
    height: 15rem;

}

.order .row form .btn {
    background: none;

}

.order .row form .btn:hover {
    background: var(--red);

}

.order .row form .inputbox input {
    height: 100%;
    width: 100%;
}


.prow {
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


/* single product */

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;

}

.small-img-col img {
    width: 100%;
    cursor: pointer;
}


/* single product */




.sproduct {
    margin-top: 150px;
}

.sproduct select {
    display: block;
    padding: 5px 10px;
    height: 49px;
    font-weight: 600;
    border-color: dimgrey;
    border-radius: 2px;
    cursor: pointer;
}

.sproduct input {
    width: 50px;
    height: 49px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 600;

}

.sproduct input:focus {
    outline: none;

}

.colour-select div {
    background-color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;

}

.colour-select {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}

.colour-select #red {
    background-color: red;
}

.colour-select #blue {
    background-color: blue;

}

.colour-select #black {
    background-color: black;

}

.buy-button {
    background-color: #933B1E;
    opacity: 1;
    transition: 0.3s ease;
    max-width: max-content;
    border: none;
    color: white;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
    text-transform: uppercase;
}

.dis {
    display: inline;
}


/* contact */


#contact {
    min-height: 100vh;
    width: 100%;
    background-image: url(img/banner/pexels-cottonbro-6650001.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-r {

    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;

}

.container-r .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-r .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #933B1E;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}


.container-r .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #933B1E;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #933B1E;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: black;
}

@media (max-width: 950px) {
    .container-r {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .container .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container-r {
        margin: 90px 0;
        height: 100%;
    }

    .container-r .content {
        flex-direction: column-reverse;
    }

    .container-r .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container-r .content .left-side::before {
        display: none;
    }

    .container-r .content .right-side {
        width: 100%;
        margin-left: 0;
    }

    /*cartpage*/

    #cart-add {
        flex-direction: column;
    }
    #coupon{
        width: 100%;
        
    }
    #subtotal {
        width: 100%;
        padding: 20px;
    }

}


/* cart-page */
#cart {
    overflow-x: auto;
}

#cart {
    padding-top: 15px;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;



}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;

}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;

}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;

}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;

}

#cart table tbody td {
    font-size: 13px;
    font-weight: 400;
}

#cart-add {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

#coupon {
    width: 50%;
    margin-bottom: 50px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 30px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
